*~
*.bak
*.log
get_time.o
hybrid_mergesort
mpi_mergesort
mpi_rma_mergesort
mpi_rma_nc_mergesort
omp_mergesort
serial_mergesort
tags
upc_hybrid_mergesort.upc
upc_mergesort.upc
upc_no_copy_mergesort.upc
bubble_sort
mpi_bubblesort
mpi_bubblesort_with_delta
test-results.txt
get_time.o


get_time
upc_get_time.upc
hybrid_mergesort
upc_hybrid_mergesort.upc
mpi_bubblesort
upc_mpi_bubblesort.upc
mpi_bubblesort_with_delta
upc_mpi_bubblesort_with_delta.upc
mpi_mergesort
upc_mpi_mergesort.upc
mpi_rma_mergesort
upc_mpi_rma_mergesort.upc
mpi_rma_nc_mergesort
upc_mpi_rma_nc_mergesort.upc
omp_mergesort
upc_omp_mergesort.upc
serial_mergesort
upc_serial_mergesort.upc
bubble_sort
bubble_sort_no_delta